Fare_Module/web/WEB-INF/wsdl/localhost_8080/Local_Storage_Module/LocalStorageService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localStorage/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://localStorage/" name="LocalStorageService">
<types>
<xsd:schema>
<xsd:import namespace="http://localStorage/" schemaLocation="http://localhost:8080/Local_Storage_Module/LocalStorageService?xsd=1"/>
</xsd:schema>
</types>
<message name="getFlights">
<part name="parameters" element="tns:getFlights"/>
</message>
<message name="getFlightsResponse">
<part name="parameters" element="tns:getFlightsResponse"/>
</message>
<message name="getFlightInstances">
<part name="parameters" element="tns:getFlightInstances"/>
</message>
<message name="getFlightInstancesResponse">
<part name="parameters" element="tns:getFlightInstancesResponse"/>
</message>
<message name="getAirportsByCity">
<part name="parameters" element="tns:getAirportsByCity"/>
</message>
<message name="getAirportsByCityResponse">
<part name="parameters" element="tns:getAirportsByCityResponse"/>
</message>
<message name="getFare">
<part name="parameters" element="tns:getFare"/>
</message>
<message name="getFareResponse">
<part name="parameters" element="tns:getFareResponse"/>
</message>
<message name="addNewCustomer">
<part name="parameters" element="tns:addNewCustomer"/>
</message>
<message name="addNewCustomerResponse">
<part name="parameters" element="tns:addNewCustomerResponse"/>
</message>
<message name="newBooking">
<part name="parameters" element="tns:newBooking"/>
</message>
<message name="newBookingResponse">
<part name="parameters" element="tns:newBookingResponse"/>
</message>
<portType name="LocalStorageService">
<operation name="getFlights">
<input wsam:Action="http://localStorage/LocalStorageService/getFlightsRequest" message="tns:getFlights"/>
<output wsam:Action="http://localStorage/LocalStorageService/getFlightsResponse" message="tns:getFlightsResponse"/>
</operation>
<operation name="getFlightInstances">
<input wsam:Action="http://localStorage/LocalStorageService/getFlightInstancesRequest" message="tns:getFlightInstances"/>
<output wsam:Action="http://localStorage/LocalStorageService/getFlightInstancesResponse" message="tns:getFlightInstancesResponse"/>
</operation>
<operation name="getAirportsByCity">
<input wsam:Action="http://localStorage/LocalStorageService/getAirportsByCityRequest" message="tns:getAirportsByCity"/>
<output wsam:Action="http://localStorage/LocalStorageService/getAirportsByCityResponse" message="tns:getAirportsByCityResponse"/>
</operation>
<operation name="getFare">
<input wsam:Action="http://localStorage/LocalStorageService/getFareRequest" message="tns:getFare"/>
<output wsam:Action="http://localStorage/LocalStorageService/getFareResponse" message="tns:getFareResponse"/>
</operation>
<operation name="addNewCustomer">
<input wsam:Action="http://localStorage/LocalStorageService/addNewCustomerRequest" message="tns:addNewCustomer"/>
<output wsam:Action="http://localStorage/LocalStorageService/addNewCustomerResponse" message="tns:addNewCustomerResponse"/>
</operation>
<operation name="newBooking">
<input wsam:Action="http://localStorage/LocalStorageService/newBookingRequest" message="tns:newBooking"/>
<output wsam:Action="http://localStorage/LocalStorageService/newBookingResponse" message="tns:newBookingResponse"/>
</operation>
</portType>
<binding name="LocalStorageServicePortBinding" type="tns:LocalStorageService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getFlights">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFlightInstances">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAirportsByCity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFare">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNewCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="newBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="LocalStorageService">
<port name="LocalStorageServicePort" binding="tns:LocalStorageServicePortBinding">
<soap:address location="http://localhost:8080/Local_Storage_Module/LocalStorageService"/>
</port>
</service>
</definitions>